<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="../assets/bank-card-fill.svg"
      type="image/x-icon"
    />
    <title>CineArt | Pagamento</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../Dist/SCSS/style.css" />
    <link rel="stylesheet" href="../Dist/SCSS/Screen/Breakpoints.css">
    <link rel="stylesheet" href="../Dist/SCSS/Button.css" />
  </head>
  <body>
    <form method="POST" action="/add-cartao">
      <div class="wrapper" id="app">
        <div class="card-form">
          <div class="card-list">
            <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
              <div class="card-item__side -front">
                <div
                  class="card-item__focus"
                  v-bind:class="{'-active' : focusElementStyle }"
                  v-bind:style="focusElementStyle"
                  ref="focusElement"
                ></div>
                <div class="card-item__cover">
                  <img
                    v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                    class="card-item__bg"
                  />
                </div>

                <div class="card-item__wrapper">
                  <div class="card-item__top">
                    <img
                      src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png"
                      class="card-item__chip"
                    />
                    <div class="card-item__type">
                      <transition name="slide-fade-up">
                        <img
                          v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                          v-if="getCardType"
                          v-bind:key="getCardType"
                          alt=""
                          class="card-item__typeImg"
                        />
                      </transition>
                    </div>
                  </div>
                  <label
                    for="cardNumber"
                    class="card-item__number"
                    ref="cardNumber"
                  >
                    <template v-if="getCardType === 'amex'">
                      <span v-for="(n, $index) in amexCardMask" :key="$index">
                        <transition name="slide-fade-up">
                          <div
                            class="card-item__numberItem"
                            v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''"
                          >
                            *
                          </div>
                          <div
                            class="card-item__numberItem"
                            :class="{ '-active' : n.trim() === '' }"
                            :key="$index"
                            v-else-if="cardNumber.length > $index"
                          >
                            {{cardNumber[$index]}}
                          </div>
                          <div
                            class="card-item__numberItem"
                            :class="{ '-active' : n.trim() === '' }"
                            v-else
                            :key="$index + 1"
                          >
                            {{n}}
                          </div>
                        </transition>
                      </span>
                    </template>

                    <template v-else>
                      <span v-for="(n, $index) in otherCardMask" :key="$index">
                        <transition name="slide-fade-up">
                          <div
                            class="card-item__numberItem"
                            v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''"
                          >
                            *
                          </div>
                          <div
                            class="card-item__numberItem"
                            :class="{ '-active' : n.trim() === '' }"
                            :key="$index"
                            v-else-if="cardNumber.length > $index"
                          >
                            {{cardNumber[$index]}}
                          </div>
                          <div
                            class="card-item__numberItem"
                            :class="{ '-active' : n.trim() === '' }"
                            v-else
                            :key="$index + 1"
                          >
                            {{n}}
                          </div>
                        </transition>
                      </span>
                    </template>
                  </label>
                  <div class="card-item__content">
                    <label
                      for="cardName"
                      class="card-item__info"
                      ref="cardName"
                    >
                      <div class="card-item__holder">Titular do Cartão</div>
                      <transition name="slide-fade-up">
                        <div
                          class="card-item__name"
                          v-if="cardName.length"
                          key="1"
                        >
                          <transition-group name="slide-fade-right">
                            <span
                              class="card-item__nameItem"
                              v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                              v-if="$index === $index"
                              v-bind:key="$index + 1"
                              >{{n}}</span
                            >
                          </transition-group>
                        </div>
                        <div class="card-item__name" v-else key="2">
                          Nome Completo
                        </div>
                      </transition>
                    </label>
                    <div class="card-item__date" ref="cardDate">
                      <label for="cardMonth" class="card-item__dateTitle"
                        >Expira em:</label
                      >
                      <label for="cardMonth" class="card-item__dateItem">
                        <transition name="slide-fade-up">
                          <span v-if="cardMonth" v-bind:key="cardMonth"
                            >{{cardMonth}}</span
                          >
                          <span v-else key="2">MM</span>
                        </transition>
                      </label>
                      /
                      <label for="cardYear" class="card-item__dateItem">
                        <transition name="slide-fade-up">
                          <span v-if="cardYear" v-bind:key="cardYear"
                            >{{String(cardYear).slice(2,4)}}</span
                          >
                          <span v-else key="2">YY</span>
                        </transition>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-item__side -back">
                <div class="card-item__cover">
                  <img
                    v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                    class="card-item__bg"
                  />
                </div>
                <div class="card-item__band"></div>
                <div class="card-item__cvv">
                  <div class="card-item__cvvTitle">CVV</div>
                  <div class="card-item__cvvBand">
                    <span v-for="(n, $index) in cardCvv" :key="$index">
                      *
                    </span>
                  </div>
                  <div class="card-item__type">
                    <img
                      v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                      v-if="getCardType"
                      class="card-item__typeImg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-form__inner">
            <div class="card-input">
              <label for="cardNumber" class="card-input__label"
                >Número do Cartão</label
              >
              <input
                type="text"
                id="cardNumber"
                class="card-input__input"
                v-mask="generateCardNumberMask"
                v-model="cardNumber"
                v-on:focus="focusInput"
                v-on:blur="blurInput"
                data-ref="cardNumber"
                autocomplete="off"
                name="numero"
                required
              />
            </div>
            <div class="card-input">
              <label for="cardName" class="card-input__label"
                >Titular do Cartão</label
              >
              <input
                type="text"
                id="cardName"
                class="card-input__input"
                v-model="cardName"
                v-on:focus="focusInput"
                v-on:blur="blurInput"
                data-ref="cardName"
                autocomplete="off"
                name="nome_titular"
                required
              />
            </div>
            <div class="card-form__row">
              <div class="card-form__col">
                <div class="card-form__group">
                  <label for="cardMonth" class="card-input__label"
                    >Data de Expiração</label
                  >
                  <select
                    class="card-input__input -select"
                    id="cardMonth"
                    v-model="cardMonth"
                    v-on:focus="focusInput"
                    v-on:blur="blurInput"
                    data-ref="cardDate"
                    name="validade_mes"
                    required
                  >
                    <option value="" disabled selected>Mês</option>
                    <option
                      v-bind:value="n < 10 ? '0' + n : n"
                      v-for="n in 12"
                      v-bind:disabled="n < minCardMonth"
                      v-bind:key="n"
                    >
                      {{n < 10 ? '0' + n : n}}
                    </option>
                  </select>
                  <select
                    class="card-input__input -select"
                    id="cardYear"
                    v-model="cardYear"
                    v-on:focus="focusInput"
                    v-on:blur="blurInput"
                    data-ref="cardDate"
                    name="validade_ano"
                    required
                  >
                    <option value="" disabled selected>Ano</option>
                    <option
                      v-bind:value="$index + minCardYear"
                      v-for="(n, $index) in 12"
                      v-bind:key="n"
                    >
                      {{$index + minCardYear}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="card-form__col -cvv">
                <div class="card-input">
                  <label for="cardCvv" class="card-input__label">CVV</label>
                  <input
                    type="text"
                    class="card-input__input"
                    id="cardCvv"
                    v-mask="'####'"
                    maxlength="4"
                    v-model="cardCvv"
                    v-on:focus="flipCard(true)"
                    v-on:blur="flipCard(false)"
                    autocomplete="off"
                    name="cvv"
                    required
                  />
                </div>
              </div>
            </div>

            <button class="card-form__button" type="submit">Cadastrar Cartão</button>
            <form action="/card/{id}" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button id="delete" class="card-form__button del-btn" type="submit" aria-label="Delete">
                <svg class="del-btn__icon" viewBox="0 0 48 48" width="48px" height="48px" aria-hidden="true">
                  <clipPath id="can-clip">
                    <rect class="del-btn__icon-can-fill" x="5" y="24" width="14" height="11" />
                  </clipPath>
                  <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(12,12)">
                    <g class="del-btn__icon-lid">
                      <polyline points="9,5 9,1 15,1 15,5" />
                      <polyline points="4,5 20,5" />
                    </g>
                    <g class="del-btn__icon-can">
                      <g stroke-width="0">
                        <polyline id="can-fill" points="6,10 7,23 17,23 18,10" />
                        <use clip-path="url(#can-clip)" href="#can-fill" fill="#fff" />
                      </g>
                      <polyline points="6,10 7,23 17,23 18,10" />
                    </g>
                  </g>
                </svg>
                <span class="del-btn__letters" aria-hidden="true" data-anim>
                  <span class="del-btn__letter-box">
                    <span class="del-btn__letter">D</span>
                  </span>
                  <span class="del-btn__letter-box">
                    <span class="del-btn__letter">e</span>
                  </span>
                  <span class="del-btn__letter-box">
                    <span class="del-btn__letter">l</span>
                  </span>
                  <span class="del-btn__letter-box">
                    <span class="del-btn__letter">e</span>
                  </span>
                  <span class="del-btn__letter-box">
                    <span class="del-btn__letter">t</span>
                  </span>
                  <span class="del-btn__letter-box">
                    <span class="del-btn__letter">e</span>
                  </span>
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js"></script>
    <script src="../Dist/Vue/script.js"></script>
    <script src="../Script/Button.js"></script>
    <script src="../Function/loadTime.js"></script>
  </body>
</html>
